html, body {
    height: 100%;
}

body {
    display: flex;
    margin: 0;
}

#sidebar {
    background-color: grey;
    height: 100%;
    flex-shrink: 0;
    display: flex;
    flex-direction: column;
}

#sidebar ul {
    display: flex;
    flex-direction: column;
    list-style-type: none;
    gap: 10px;
    padding: 20px;
}

#sidebar li {
    background-color: white;
    border: 2px solid black;
    box-sizing: border-box;
    width: 180px;
    padding: 10px;
    text-align: center;
}

#sidebar li:hover {
    background-color: lightgrey;
}

#main {
    flex: 1;
    height: 100%;
    display: flex;
    flex-direction: column;
}

#header {
    display: flex;
    background-color: lightcyan;
    max-height: 70px;
    flex: 1;
    align-items: center;
}

select {
    width: 150px;
    margin-left: 50px;
}

#container {
    background-color: aqua;
    padding: 10px;
    box-sizing: border-box;
    flex: 1;
}

.modal {
    display: none;
    position: fixed;
    z-index: 1;
    width: 80%;
    height: 80%;
    overflow: auto;
}

.modal-show {
    display: block;
}

.modal-content {
    background-color: #fefefe;
    margin: 10% auto;
    padding: 20px;
    border: 1px solid #888;
    width: 80%;
}

.close {
    color: #aaa;
    float: right;
    font-size: 28px;
    font-weight: bold;
}

#arrow:hover,
#arrow:focus,
.close:hover,
.close:focus {
  color: black;
  text-decoration: none;
  cursor: pointer;
}

.askTodo {
    display: grid;
    grid-template-rows: 20px 20px 20px 20px;
    grid-template-columns: repeat(4, 310px);
    gap: 10px 30px;
    align-items: end;
}

.firstLabel {
    grid-row: 1 / 2;
}

.firstInput {
    grid-row: 2 / 3;
}

.secondLabel {
    grid-row: 3 / 4;
}

.secondInput {
    grid-row: 4 / 6;
    height: 200px;
}

.projectInput {
    grid-row: 4 / 5;
}

.modal select {
    margin-left: 0px;
}

.askTodo button {
    grid-row: 5 / 6;
    height: 30px;
    width: 200px;
}

.display {
    margin-bottom: 10px;
}

.simp,
.det {
    background-color: lightgrey;
    border: 1px solid black;
    padding: 15px;
    min-height: 32px;
    font-size: 20px;
}

.simp {
    display: grid;
    grid-template-columns: 7fr 1fr 50px 40px;
}

.det {
    display: none;
    grid-template-columns: 1fr 1fr 100px;
    grid-template-rows: 20px 40px;
    font-size: 16px;
    align-items: baseline;
    overflow-wrap: break-word;
    column-gap: 30px;
}

.det-show {
    display: grid;
}

.checkbox {
    height: 20px;
    width: 20px;
}

#arrow {
    font-size: 28px;
    font-weight: bold;
}