body {
    margin: 0;
}

#header {
    background-color: lightcyan;
}

ul {
    display: flex;
    align-items: flex-end;
    gap: 20px;
    list-style-type: none;
    margin: 0px 0px 0px 10px;
    padding: 0;
}

li {
    border-top: 1px solid black;
    border-left: 1px solid black;
    border-right: 1px solid black;
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
    margin-top: 10px;
    padding: 5px 0px 5px 25px;
}

a {
    text-decoration: none;
    color: black;
}

li a {
    margin-left: 25px;
    margin-right: 10px;
    text-decoration: none;
    color: black;
    padding: 0px 5px 2px 5px;
    border-radius: 10px;
}

#add {
    margin-bottom: 5px;
    padding: 0px 4px;
    border-radius: 10px;
}

#container {
    background-color: aqua;
    padding: 10px;
}

.todo {
    background-color: beige;
    margin-bottom: 10px;
}

.todo-mini {
    display: grid;
    background-color: lightgrey;
    padding: 10px;
    border: 1px solid black;
    grid-template-columns: 25% 25% 25% 25%;
}

.title {
    grid-column: 1 / 2;
}

.dueDate {
    grid-column: 2 / 3;
}

.priority {
    grid-column: 3 / 4;
}

.check {
    grid-column: 4 / 5;
}

.todo-detailed {
    display: grid;
    background-color: lightgrey;
    padding: 10px;
    border: 1px solid black
}